@mixin flex-row ($content: center, $align: center) {
    display: flex;
    justify-content: $content;
    align-items: $align;
}

@mixin flex-col ($content: center, $align: center) {
    @include flex-row($content, $align);
    flex-direction: column;
}

@mixin  position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@mixin  position-custom ($pos: absolute) {
    position: $pos;
}